<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<div class="container">
    <div class="columns">
        <!-- navbar -->
        <div class="column col-12 bg-secondary" style="color:white;" >
            <header class="navbar">
                <section class="navbar-section">
                    <a href="..." class="navbar-brand mr-2">CodePaste</a>
                    <a href="..." class="btn btn-link">Docs</a>
                </section>
            </header>
        </div>
        <div class="column col-12 bg-gray">
        </div>
    </div>



</div>
</body>
</html>