<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div class="container">
    <div class="columns">
        <!-- navbar -->
        <div class="column col-12 bg-secondary" style="color:white;" >
            <header class="navbar">
                <section class="navbar-section">
                    <a href="..." class="navbar-brand mr-2">CodePaste</a>
                </section>
            </header>
        </div>
        {% for r in result %}
            <div class="column col-12 bg-secondary">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">{{ r.name }}</div>
                    </div>
                    <div class="card-body">
                        <pre>
                            <code class="python">
                                {{ r.body }}
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



</div>
</body>
</html>